header{
  background-color: #22577A;
}

body{
  margin: 0;
  background-color: #57CC99;
}

h1{
  margin: 0%;
  padding: 1.5rem;
}

h2{
  text-align: center;
}

h3{
  text-align: center;
  font-style: normal;
  font-weight: 100;
}

ul{
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin: 15px;
  margin-inline: 0.5rem;
}

li a{
  color: black;
  text-decoration: none;
  border: solid #80ED99;
  border-radius: 0.5rem;
  background-color: #C7F9CC;
  padding: 5px;
  color: #22577A;
}

li a:hover, li a:focus{
  text-decoration: underline;
  color: whitesmoke;
  background-color: #22577A;
  transition: 0.3s
}

div p{
  text-align: left;
  padding: 5px;
}

footer{
  text-align: center;
  font-style: italic;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #38A3A5;
}

.title{
  margin-bottom: 0;
  font-size: 1.5rem;
  text-align: center;
  font-style: bold;
  color: #C7F9CC;
}

.container{
  display: flex;
  flex-direction: row;
  margin: 5px;
}

.services{
  float: left;
  width: 25%;
  background-color:#001B2E ;
  color:azure;
}

.testimonials{
  float: right;
  width: 25%;
  background-color:#ADB6C4;
  color:azure;
}

.main-content{
  float: left;
  width: 50%;
  background-color:#294C60;
  color:azure;
}

/* Set up media screens to adjust the stacking of divs in small screens */
  @media screen and (max-width: 768px){
    .container {
      flex-direction: column;
      display: flex;
      max-width: 100%;
    }
    .testimonials {
      width: 100%;
      height: fit-content;
    }

    .main-content {
      width: 100%;
    }

    .services {
      width: 100%;
    }

    header{
      width: 100%;
    }

    footer{
      display: flex;
      margin-top: auto;
      position: unset;
      justify-content: center;
      width: 100%;
    }
  }
  