
.heading {
    color: black;
    padding: 1.75em;
}

.paragraph {
  margin-bottom: -100px;
  z-index: 1;
  position: relative;
}

img {
    margin-top: 100px; /* Add a margin to the top of the image to create space */
}

.parent {
  display: flex;
  list-style: none;
  padding: 0;
  margin: auto;

}

.child {
  background-color: #eee;
  padding: 0.5rem 0.75rem;
}