body{
  margin: 0px;
}

.column{
  float: left;
}

.side{
  width: 25%;
}

.main{
  width: 50%;
}

.container{
  text-align: center;
  display: flex;
}

.container-cards{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  flex-wrap: wrap;
}

.overlay{
  background: black;
  opacity: 50%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.card-title{
  position: absolute;
  top: 0;
  left: 10px;
  color: white;
  z-index: 10;
}

.card-image{
  position: relative;
}

.container-cards img{
  width: 100%;
}

.card{
  max-width: 33%;
  margin-bottom: 12px;
  margin-right: auto;
  padding: 10px;
  border: 1px solid black;
  box-sizing: border-box;
  box-shadow: 0 4px 8px black;
}

.card:hover {
  background: grey;
  cursor: pointer;
  transition: background 0.5s;
  font-size: 20px;
  transition: font-size 0.4s;
}


@media screen and (max-width: 968px) {
  .card{
    max-width: calc(50% - 20px);
  }
}

@media screen and (max-width: 768px){
  .column, .side, .main {
    float: none;
    width: 100%;
  }
  .side{
    display: none;
  }

}

@media screen and (max-width: 480px){
  .card{
    max-width: 100%;
  }
}