
<div class="flex-container">

  <div class="task-icon flex-row">
    <b>
      <span style="color: #372549">Task</span>
      <span style="color: #774C60">It</span>
    </b>
    <hr>
  </div>

  <div class="task-btn flex-row">
    <div class="col text-center">
      <button class="btn btn-secondary">Task List</button>
    </div>
  </div>

  <div class="profile-section">
    <div class="profile">
      <span class="material-symbols-outlined" style="font-size: 40px;">account_circle</span>
    </div>
    <div class="profile">
      Profile Name
    </div>
    <div class="profile">
     <span class="material-symbols-outlined" style="font-size: 40px;">login</span>
    </div>
  </div>

</div>
