<div class="list-items d-flex flex-column">
    <li class="list-group-item d-flex align-items-center border-0 mb-2 rounded"
      style="background-color: #f4f6f7; justify-content: space-between;">
      <input class="form-check-input me-2 p-2" type="checkbox" value="" aria-label="..." checked />
      <s>Cras justo odio</s>
      <div class="actionBtn">
        <button type="button" class="btn-sm btn-outline-success ms-auto" style="margin-right: 5px;">Edit</button>
        <button
          type="button"
          class="btn-sm btn-outline-danger ms-auto">
          Delete
      </button>
    </div>
  </li>
</div>


