<div class="d-flex flex-column">

<!-- Title  -->
  <div class="title">
    <h1>Task List:</h1>
  </div>

<!-- Add Task Section -->
<div class="flex-d">
<form class="d-flex justify-content-center align-items-center">
  <div class="form-outline flex-fill">
    <input #newTaskInput type="text" id="form2" class="form-control" placeholder="New task..."/>
    <div class="d-flex justify-content-end align-items-center pt-2 pb-3">
      <label class="form-label" for="form2"></label>
      <p class="small mb-0 me-2 text-muted">Priority:</p>
      <select class="select">
        <option value="1">Critical</option>
        <option value="2">High</option>
        <option value="3">Medium</option>
        <option value="4">Low</option>
      </select>
      <p class="small mb-0 ms-4 me-2 text-muted">Due date:</p>
      <input class="date" type="text" placeholder="09/19/2023">
    </div>
  </div>
  <button type="submit" class="btn btn-secondary ms-2" style="align-self: baseline;" (click)="addNewTask(newTaskInput.value)">Add</button>
  <!-- 2 way binding OR form control/form group -->
</form>
</div>

<!-- Filter Section -->
<div class="filter-section">
  <div class="d-flex justify-content-end align-items-center pt-2 pb-3">
    <p class="small mb-0 me-2 text-muted">Filter</p>
    <select class="select">
      <option value="1">All</option>
      <option value="2">Completed</option>
      <option value="3">Active</option>
      <option value="4">Has due date</option>
    </select>
  <p class="small mb-0 ms-4 me-2 text-muted">Sort</p>
    <select class="select">
      <option value="1">Added date</option>
      <option value="2">Due date</option>
    </select>
  <a href="#!" style="color: #23af89;" data-mdb-toggle="tooltip" title="Ascending"><i class="fas fa-sort-amount-down-alt ms-2"></i></a>
  </div>
</div>

<!-- Tab Navigation -->
<div class="nav-section">
<ul class="nav nav-tabs mb-4 pb-2" id="ex1" role="tablist">
  <li class="nav-item" role="presentation">
    <a class="nav-link active" id="ex1-tab-1" data-mdb-toggle="tab" href="#ex1-tabs-1" role="tab"
      aria-controls="ex1-tabs-1" aria-selected="true">All</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-2" data-mdb-toggle="tab" href="#ex1-tabs-2" role="tab"
      aria-controls="ex1-tabs-2" aria-selected="false">Active</a>
  </li>
  <li class="nav-item" role="presentation">
    <a class="nav-link" id="ex1-tab-3" data-mdb-toggle="tab" href="#ex1-tabs-3" role="tab"
      aria-controls="ex1-tabs-3" aria-selected="false">Completed</a>
  </li>
</ul>
</div>


<!-- Table Section -->
  <div class="table-section">
    <div class="tab-content" id="ex1-content">
      <div class="tab-pane fade show active" id="ex1-tabs-1" role="tabpanel"
        aria-labelledby="ex1-tab-1">
        <app-task-item *ngFor="let task of tasks" [task]="task"></app-task-item>
      </div>
    </div>
  </div>
</div>

